repos:
  - repo: local
    hooks:
      - id: meta-lint-commit
        name: Lint commit message to ensure it will pass the commit linting on CI
        entry: meta/lint-commit.sh
        stages: [ commit-msg ]
        language: system
