on:
  pull_request:
  push: # Run CI on the main branch after every merge. This is important to fill the GitHub Actions cache in a way that pull requests can see it
    branches:
      - main

name: continuous-integration

jobs:
  lint-samples:
    strategy:
      fail-fast: true
      matrix:
        platform: [ubuntu-latest]
        style: [default]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Lint samples
        run: python ./meta/lint_samples.py

  selfhost:
    strategy:
      fail-fast: true
      matrix:
        platform: [ubuntu-22.04]
        cxx_compiler: [clang++-14]
        include:
          - platform: macos-latest
            cxx_compiler: "$(brew --prefix llvm@14)/bin/clang++"

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup Ninja
        uses: ashutoshvarma/setup-ninja@master
        with:
          # ninja version to download. Default: 1.10.0
          version: 1.10.0

      - name: Install macOS dependencies
        if: ${{ matrix.platform == 'macos-latest' }}
        run: brew install coreutils

      - name: Build Jakt Stage 1 Selfhost
        run: |
          cmake -GNinja -B build -DCMAKE_CXX_COMPILER=${{ matrix.cxx_compiler }} -DCMAKE_BUILD_TYPE=Release -DFINAL_STAGE=1
          cmake --build build

      - name: Test Jakt Stage 1 selfhost
        run: |
          ninja -C jakttest
          ./jakttest/build/jakttest --assume-updated-selfhost --assume-updated

      - name: Build Jakt Stage 2 Selfhost
        run: |
          # Modify CMake cache to set final stage to stage 2
          cmake -B build -DFINAL_STAGE=2
          cmake --build build

      - name: Test Jakt Stage 2 selfhost
        run: |
          ninja -C jakttest
          ./jakttest/build/jakttest --assume-updated-selfhost --assume-updated
